<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" href="./css/style.css"><!--for front page only-->
    <% include partials/head %>

</head>

<% include partials/header %>

<body>

    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9JNFT"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		


		<div class="wrapper">

			<nav class="navigation">
				<ul class="navigation__list">
					<li class="navigation__item navigation__item--active">
						<a href="#start" title="Home">
							<div class="navigation__icon"><span class="navigation__number">1</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#intro" title="Introduction">
							<div class="navigation__icon"><span class="navigation__number">2</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#competition" title="Competition">
							<div class="navigation__icon"><span class="navigation__number">3</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#workshop" title="Workshops">
							<div class="navigation__icon"><span class="navigation__number">4</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#talk" title="Talks">
							<div class="navigation__icon"><span class="navigation__number">5</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#debsoc" title="DebSoc">
							<div class="navigation__icon"><span class="navigation__number">6</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#proshow" title="ProShow">
							<div class="navigation__icon"><span class="navigation__number">7</span></div>
						</a>
					</li>
					
				</ul>
			</nav>

			<div class="astroid"></div>

	

			<section class="section section--header" id="start">
				
				<div class="stars"><div class="nebula"></div></div>
				<div class="mars">
					<div class="mars__planet"></div>
					<div class="mars__black"></div>
				</div>

				<header class="header">
					<div class="wrap">
						<div class="row center-md">
							<div class="col-md-12">
								<div class="header__content">
									<h2 class="header__title header__title--center">COMING SOON</h2>
								</div>
							</div>
						</div>
					</div>

					<div class="header__scroll">
						<a href="#intro" class="button button--mouse button--active"></a>
					</div>
				</header>

			</section>

			
			<%include partials/footer%>
			
			<script>
				$(window).scroll(function() {
					if ($(document).scrollTop() > 100) {
						//console.log("ahkdsj");
						$("#navbar-menu").addClass("color-change");
						$('footer').addClass("color-change");
		
					} else {
						$("#navbar-menu").removeClass("color-change");
						$('footer').removeClass("color-change");
					}
				});
		
				
		
		
				</script>
			
	</body>
</html>