<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" href="./css/style.css"><!--for front page only-->
    <% include partials/head %>

</head>

<% include partials/header %>

<body>

    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9JNFT"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		


		<div class="wrapper">

			<nav class="navigation">
				<ul class="navigation__list">
					<li class="navigation__item navigation__item--active">
						<a href="#start" title="Home">
							<div class="navigation__icon"><span class="navigation__number">1</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#intro" title="Introduction">
							<div class="navigation__icon"><span class="navigation__number">2</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#competition" title="Competition">
							<div class="navigation__icon"><span class="navigation__number">3</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#workshop" title="Workshops">
							<div class="navigation__icon"><span class="navigation__number">4</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#talk" title="Talks">
							<div class="navigation__icon"><span class="navigation__number">5</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#debsoc" title="DebSoc">
							<div class="navigation__icon"><span class="navigation__number">6</span></div>
						</a>
					</li>
					<li class="navigation__item">
						<a href="#proshow" title="ProShow">
							<div class="navigation__icon"><span class="navigation__number">7</span></div>
						</a>
					</li>
					
				</ul>
			</nav>

			<div class="astroid"></div>

	

			<section class="section section--header" id="start">
				
				<div class="stars"><div class="nebula"></div></div>
				<div class="mars">
					<div class="mars__planet"></div>
					<div class="mars__black"></div>
				</div>

				<header class="header">
					<div class="wrap">
						<div class="row center-md">
							<div class="col-md-12">
								<div class="header__content">
									<!-- <div class="logo logo--center"></div> -->
									<div class="mars__logo mars__logo--center mars__logo--header">
										<div class="logo__flare"></div>
										<div class="logo__flare2"></div>
									</div>
									<h4 class="header__title header__title--center">Techno-Management Fest</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="header__scroll">
						<a href="#intro" class="button button--mouse button--active"></a>
					</div>
				</header>

			</section>

			<section class="section section--intro" id="intro">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-8">

							<div class="block block--intro">
								<!-- <span class="block__caption">Plinth 2020</span> -->
								<h1 class="block__title">Plinth 2020</h1>
								<span class="block__caption">Techno-Management Fest, Jaipur</span>


								<p class="block__content block__content--intro">
										<span class="block__mark">About Us...</span>
										Plinth is the annual inter college Techno-Management-Literary Festival of The LNM Institute of Information Technology, Jaipur.

										Plinth proudly encompasses and transcends the boundaries of science, technology, management,and literature, providing its audience with a completely indelible experience. Plinth extravagantly puts its efforts in providing a ‘platform’ to individuals to exhibit their talents and acumen in various activities designed to grill the very best. In Plinth, we see all kinds of things. From the craziest innovation, to the simplest of things which can be highly consequential but we might not have gazed our eye on. We aim to tap inside each and everyone present and help refine the diamonds inside all.
								</p>
								
							</div>

						</div>
					</div>
				</div>
			</section>

			<section class="section section--serie" id="competition">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-6 col-lg-7">
							<div class="visual__wrapper">
								<div class="visual visual--medium visual--mars-medium visual--up">
									<canvas id="canvas1" data-imgsrc="./media/coding.jpg"></canvas>
								</div>
								<div class="visual visual--big visual--mars-big visual--down">
									<canvas id="canvas5" data-imgsrc="./media/phoenix.jpg"></canvas>
								</div>
								<div class="visual visual--small visual--mars-small visual--up visual--fast">
									<canvas id="canvas2" data-imgsrc="./media/robowar.jpg"></canvas>
								</div>
							</div>
						</div>

						<div class="col-md-5 col-lg-4">
							<div class="block">
								<span class="block__caption block__caption--right">The Gladiator Pits
								</span>
								<h2 class="block__title block__title--mars">Competitions</h2>

								<p class="block__content block__content--right">
									In a world full of chaos, Plinth 2020 strives to bring along all of you and invigorate you with extreme amounts of pure joy and ecstasy, and also serve as an escape from all the bitterness that life hands down to all of us. We provide individuals a platform to showcase their skills through various events in Quizzing, Coding, Management, Robotics, Cubing, Astronomy, Debating and so much more! Come have a weekend of your lives and test yourself against the very best of the Nation.  <span class="block__mark">Register Now.</span>
									
								</p>
								<span class="block__caption block__caption--aligned">Get Ready on --th Januray,2020 </span>

								<a href="/competitions" class="link link--more link--right" id="trackbutton-1">
									<div class="button button--glitch">
										<img class="button--glitch-1" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
										<img class="button--glitch-2" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-3" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-4" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
									</div>
									<span class="link__text link__text--right" data-text="Click To know more">Click To know more</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--landing" id="workshop">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-4">
							<div class="block">
								<span class="block__caption block__caption--left" style="white-space:nowrap;">Info Studio
								</span>
								<h2 class="block__title block__title--big block__title--landing">Workshops</h2>

								<p class="block__content block__content--left">
									Knowledge is Power! From real life examples of Neil Armstrong to fictional examples like Littlefinger. All of us have seen how far knowledge can take us. Without having the right information, we can’t proceed further ahead even in our careers. Here at Plinth, we’ve held Workshops in Blockchain, Cryptocurrency, AI/ML, Competitive Coding, Creative Writing, etc which was overseen by the best in their respective fields. In Plinth 20, we strive to continue this tradition by presenting you an opportunity to gain the basic know-hows in things which may just be your future!
								</p>
								<a href="/workshops" class="link link--more link--left" id="trackbutton-2">
									<div class="button button--left button--glitch">
										<img class="button--glitch-1" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
										<img class="button--glitch-2" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-3" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-4" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
									</div>
									<span class="link__text link__text--left link__text--aligned" data-text="Click to know more">Click to know more</span>
								</a>
							</div>
						</div>

						<div class="col-md-7 first-xs last-md">
							<div class="visual__wrapper">
								<div class="visual visual--small visual--up visual--fast visual--exomars-small">
									<canvas id="canvas3" data-imgsrc="./media/dossier-mars-image2.jpg"></canvas>
								</div>
								<div class="visual visual--big visual--down visual--exomars-big ">
									<canvas id="canvas6" data-imgsrc="./media/dossier-mars-image1.jpg"></canvas>
								</div>
								<div class="visual visual--medium visual--up visual--exomars-medium">
									<canvas id="canvas4" data-imgsrc="./media/dossier-mars-image3.jpg"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--serie" id="talk">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-6 col-lg-7">
							<div class="visual__wrapper">
								<div class="visual visual--medium visual--mars-medium visual--book-medium visual--up">
									<canvas id="canvas7" data-imgsrc="./media/mars-boek-image2.jpg"></canvas>
								</div>
								<div class="visual visual--big visual--mars-big visual--book-big visual--down">
									<canvas id="canvas8" data-imgsrc="./media/mars-boek-image1.jpg"></canvas>
								</div>
								<div class="visual visual--small visual--mars-small visual--book-small visual--up visual visual--fast">
									<canvas id="canvas9" data-imgsrc="./media/mars-boek-image3.jpg"></canvas>
								</div>
							</div>
						</div>

						<div class="col-md-5 col-lg-4">
							<div class="block">
								<span class="block__caption block__caption--right">Forum
								</span>
								<h2 class="block__title block__title--boek">Talks</h2>

								<p class="block__content block__content--right">
									Experience is often said to be the best teacher. With experience one gains Wisdom over the years. Plinth 20, provides students to learn from the experiences of experts in their fields. Individuals who have persevered, gone through it all, given nothing less than their 100% and seen the end of the tunnel. The Keynote Speakers of Plinth 20 will take you through their trials and tribulations after which you’ll be left in awe and be inspired to take the leap and scale new heights!
 
								</p>
								<a href="/talks"  class="link link--more link--right" id="trackbutton-3">
									<div class="button button--glitch">
										<img class="button--glitch-1" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
										<img class="button--glitch-2" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-3" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-4" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
									</div>
									<span class="link__text link__text--right" data-text="Click to know more">Click to know more</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--landing" id="debsoc">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-4">
							<div class="block">
								<span class="block__caption block__caption--left">Lively Affairs
								</span>
								<h2 class="block__title block__title--big block__title--magazine">Offbeat Events</h2>

								<p class="block__content block__content--left">
									Think there’s nothing for you to take part in? Feeling lost in this technological marvel? Don’t worry. We have just the thing for you! Take part in these little events where you can blow off some steam and have fun. No need to have knowledge or a specialization in things. Just let yourself go. You’ll be put in quirky humorous situations, asked to do strange things but we promise you that it’ll be a great experience looking back at which, you’ll have a smile on your face!  
								</p>
								<a href="/mun" class="link link--more link--left" id="trackbutton-4">
									<div class="button button--left button--glitch">
										<img class="button--glitch-1" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
										<img class="button--glitch-2" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-3" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-4" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
									</div>
									<span class="link__text link__text--left" data-text="Click to know more">Click to know more</span>
								</a>
							</div>
						</div>

						<div class="col-md-7 first-xs last-md">
							<div class="visual__wrapper">
								<div class="visual visual--small visual--exomars-small visual--magazine-small visual--up visual--fast">
									<canvas id="canvas10" data-imgsrc="./media/mars-magazine-image2.jpg"></canvas>
								</div>
								<div class="visual visual--big visual--exomars-big visual--magazine-big visual--down">
									<canvas id="canvas11" data-imgsrc="./media/mars-magazine-image1.jpg"></canvas>
								</div>
								<div class="visual visual--medium visual--exomars-medium visual--magazine-medium visual--up">
									<canvas id="canvas12" data-imgsrc="./media/mars-magazine-image3.jpg"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--serie" id="proshow">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-6 col-lg-7">
							<div class="visual__wrapper">
								<div class="visual visual--medium visual--mars-medium visual--test-medium visual--up">
									<canvas id="canvas13" data-imgsrc="./media/mars-testjezelf-image3.jpg"></canvas>
								</div>
								<div class="visual visual--big visual--mars-big visual--test-big visual--down">
									<canvas id="canvas14" data-imgsrc="./media/mars-testjezelf-image1.jpg"></canvas>
								</div>
								<div class="visual visual--small visual--mars-small visual--test-small visual--up visual--fast">
									<canvas id="canvas15" data-imgsrc="./media/mars-testjezelf-image2.jpg"></canvas>
								</div>
							</div>
						</div>

						<div class="col-md-5 col-lg-4">
							<div class="block">
								<span class="block__caption block__caption--right">The Grandstand</span>
								<h2 class="block__title block__title--quiz">Proshow</h2>

								<p class="block__content block__content--right">
									Each event requires a fitting finish. An event which will fittingly conclude the extravaganza called Plinth 2020 is. Keeping this in mind, we present to you, The Grandstand! The Pro Show featuring the most promising and talented artists of India. Their performance will take you into a magical realm. A place where you’ll forget all your worries and immerse yourself into the melody of the night and leave with memories of a magical night!

								</p>
								<a href="/proshow" class="link link--more link--right" id="trackbutton-5">
									<div class="button button--glitch">
										<img class="button--glitch-1" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
										<img class="button--glitch-2" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-3" src="http://levenopmars.natgeotv.com/nl/images/icons/polygon-full.svg">
										<img class="button--glitch-4" src="http://levenopmars.natgeotv.com/nl/images/icons/icon-plus.svg">
									</div>
									<span class="link__text link__text--right link__text--spaced" data-text="Click to know more">Click to know more</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--<section class="section section--social" id="social">
				<div class="wrap">
					<div class="row center-md">
						<div class="col-md-5">
							<div class="block block--social">
								<div class="social__logo social__logo--center"></div>
								<h3 class="social__title">Volg National Geographic Channel</h3>
								<h4 class="social__subtitle">op social media</h4>

								<ul class="social__list">
									<li class="social__channel">
										<a href="https://www.facebook.com/natgeonl" target="_blank" title="Facebook" class="button button--facebook button--left"></a>
									</li>
									<li class="social__channel">
										<a href="https://twitter.com/nationalgeonl" target="_blank" title="Twitter" class="button button--twitter button--center"></a>
									</li>
									<li class="social__channel">
										<a href="https://instagram.com/natgeotvnl" target="_blank" title="Instagram" class="button button--instagram button--right"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>-->

			<%include partials/footer%>
			
			<script>
				$(window).scroll(function() {
					if ($(document).scrollTop() > 100) {
						//console.log("ahkdsj");
						$("#navbar-menu").addClass("color-change");
						$('footer').addClass("color-change");
		
					} else {
						$("#navbar-menu").removeClass("color-change");
						$('footer').removeClass("color-change");
					}
				});
		
				
		
		
				</script>
			
	</body>
</html>